<div id='header'>
  <p></p>
</div>
<a-scene luxor-scene-aframe-component>
  <!-- <a-camera near="0.1" user-height="0" position="0 0 0" id="camera" vt-vr-state="off"></a-camera> -->
  <!-- <a-assets> -->
    <!-- <a-asset-item id="luxor-pyramid" src="../../../../assets/models/luxor_pyramid_decorated.dae"></a-asset-item> -->
    <!-- <a-asset-item id="luxor-pyramid" src="assets/models/luxor_pyramid_decorated.dae"></a-asset-item> -->
    <!-- <a-asset-item id="luxor-pyramid" src="../assets/models/luxor_pyramid_decorated.dae"></a-asset-item> -->
    <!-- <a-asset-item id="luxor-pyramid" src="./luxor_pyramid_decorated.dae"></a-asset-item> -->
  <!-- </a-assets> -->
  <!-- <a-entity collada-model="#luxor-pyramid"></a-entity> -->
  <!-- <a-entity collada-model="url(luxor_pyramid_decorated.dae)"></a-entity> -->
  <!-- works -->
  <a-entity collada-model="url(assets/models/luxor_pyramid_decorated.dae)"></a-entity>
  <!-- <a-box color="#CCC" position="0 0 0"></a-box> -->
  <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
  <a-sky color="#8080EC"></a-sky>
</a-scene>
