<a-scene id="globe-scene" inner-scene-renderer class="proj-scene">
  <a-assets>
    <app-af-assets></app-af-assets>
    <img id="sky" src="assets/img/skies/CGSkies_0323_free.jpg">
  </a-assets>
  <a-link href="" title="Home" id="home-link"
    image="#homeThumbnail" visible="false">
  </a-link>
  <a-entity id="dolly" position="0 0 15" wasd-plus-controls>
    <a-camera near="0.1" user-height="0" position="0 0 0" id="camera"></a-camera>
    <a-entity hand-controls="left" position="-0.1 -0.2 0" grab ></a-entity>
    <a-entity hand-controls="right" position="0.1 -0.2 0"
      asteroids-game-controller-listener="shipRotFactor: -1"></a-entity> >
  </a-entity>
  <a-entity id='proj-entity'
    sound__bullet="src: #bullet; volume: 1.0;on: fire-bullet;poolSize: 20; refDistance: 2"
    sound__thrust="src: #space-rumble; volume: 1.0;refDistance:2"
    position="0 0 0" >
  </a-entity>
  <a-sphere id="aframe-globe" class="proj-obj" radius="5" position="0 0 0"></a-sphere>
  <!-- <a-sky color="#101010"></a-sky> -->
  <a-sky src="#sky" theta-length=360 id="sky" ></a-sky>
</a-scene>
