<div>
  <audio controls id='audio-ctrl'>
    <source src="assets/sounds/horse.ogg" id="horse" type="audio/ogg">
  </audio>
</div>
<a-scene plane-scene-aframe-component id="plane-scene" class="proj-scene"
 inner-scene-renderer="subtractiveOverlay: true" stats
 >
  <a-assets>
    <app-af-assets></app-af-assets>
    <img id="sky" src="assets/img/skies/CGSkies_0284_free.jpg">
  </a-assets>
  <a-link href="" title="Home" id="home-link"
    image="#homeThumbnail"  visible="false">
  </a-link>
  <a-entity id="dolly" position="0 0 8" wasd-plus-controls>
    <a-camera near="0.1" user-height="0" position="0 0 0" id="camera"  vt-vr-state="off"></a-camera>
    <a-entity hand-controls="left" position="-0.1 -0.2 0" grab ></a-entity>
    <a-entity hand-controls-cust="right" position="0.1 -0.2 0"
    asteroids-game-controller-listener="shipRotFactor: -1;"
    ></a-entity>
  </a-entity>
  <a-entity id='proj-entity'
    sound__bullet="src: #bullet; volume: 1.0;on: fire-bullet;poolSize: 20; refDistance: 2"
    sound__thrust="src: #space-rumble; volume: 1.0;refDistance:2"
    position="0 0 0" >
  </a-entity>
  <a-plane id="test-plane" class="proj-obj" position="0 0 0" color="#CC1" height="8" width="8"
    material="side: double;"
    bsteroids-inner-scene-aframe-component
    >
  </a-plane>
  <a-sky color="#8080EC"></a-sky>
</a-scene>
