<div id='header'>
  <!-- <button (click)="getInfo()">Get Info</button> -->
  <p></p>
</div>
<div>
  <a-scene lss-aframe-component tats>
    <a-entity id="dolly" position="0 0.5 3">
      <!-- <a-camera near="0.1" user-height="0" position="0 0.5 3" id="camera" vt-vr-state="off"></a-camera> -->
      <a-camera near="0.1" user-height="0" position="0 0 0" id="camera" vt-vr-state="off"></a-camera>
      <a-entity hand-controls="right" position="0 0 -1" grab controller-cursor></a-entity>
      <!-- <a-entity oculus-touch-controls="hand: right" id="oc-control-right" grab></a-entity> --> -->
      <a-entity hand-controls="left" position="0 0 -1" grab></a-entity>
    </a-entity>
    <!-- <a-entity camera look-controls wasd-controls="fly:false inVrState:false"> </a-entity> -->
    <!-- <a-box position="-1 0.5 -3" rotation="0 45 0" color="#fCC3D9"></a-box> -->
    <a-text value="Loopy Surface Surfers" position="-1 2.5 -3" color="#806040" side="double"></a-text>
    <!-- <a-text value="Plane" position="{{billBoard.x}} {{billBoard.y}} {{billBoard.z}}" color="#806040" side="double"></a-text> -->
    <a-entity id="bill-board" position="0 0.5 0">
      <a-plane class="scene-select" color="#CCC" height="0.5" width="1.5" position="0 0 0" id="plane-scene"></a-plane>
      <a-text value="Plane" position="0 0 0" color="#806040" side="double" id='plane-text'></a-text>
      <a-plane class="scene-select" color="#CCC" height="0.5" width="1.5" position="0 -1 0" id="luxor-scene"></a-plane>
      <a-text value="Luxor" position="0 -1 0" color="#806040" side="double" id="luxor-text"></a-text>
      <a-plane class="scene-select" color="#CCC" height="0.5" width="1.5" position="0 -2 0" id="pool-hall-scene"></a-plane>
      <a-text value="Pool Hall" position="0 -2 0" color="#806040" side="double"></a-text>
    </a-entity>
    <!-- <a-text value="hello" [attr.position]="'0 ' + yOffset +' 0'" color="red"></a-text> -->
    <a-sky color="#8080EC"></a-sky>
    <!-- <a-entity oculus-touch-controls="hand: left" id="oc-control-left" ></a-entity>
    <a-entity oculus-touch-controls="hand: right" id="oc-control-right" grab></a-entity> -->
    <!-- Hands -->
    <!-- <a-entity hand-controls="left" vabb-collider="objects: .cube;" grab></a-entity>
    <a-entity hand-controls="right" vabb-collider="objects: .cube;" grab></a-entity> -->
    <!-- <a-entity hand-controls="left" ></a-entity> -->
  </a-scene>
</div>
