  <!-- <a-assets> -->
    <audio id="space-rumble" src="assets/sounds/asteroids/space-rumble.ogg" type="audio/ogg"></audio>
    <audio id="bullet" src="assets/sounds/asteroids/asteroids-ship-fire.wav" type="audio/wav"></audio>
    <audio id="bg-sound" src="assets/sounds/asteroids/bg-rumble.ogg" loop type="audio/ogg"></audio>
    <!-- <audio id="bg-sound-2" src="assets/sounds/asteroids/140481__roigianno__opening-scene.mp3"></audio> -->
    <!-- <audio id="bg-sound-2" src="assets/sounds/asteroids/321388__rhodesmas__jungle-shake-loop.mp3"></audio> -->
    <!-- <audio id="bg-sound-2" src="assets/sounds/asteroids/343835__tristan-lohengrin__happy-8bit-loop-01.mp3"></audio> -->
    <!-- <img id="sky" src="assets/img/skies/CGSkies_0284_free.jpg"> -->
    <img id="planeThumbnail" src="assets/img/yellow-notebook-paper.png">
    <img id="homeThumbnail" src="assets/img/lss-home-thumbnail.png">

  <!-- </a-assets> -->
