<div>
  <audio controls id='audio-ctrl'>
    <source src="assets/sounds/horse.ogg" id="horse" type="audio/ogg">
  </audio>
</div>
<a-scene id="coke-can-scene" inner-scene-renderer class="proj-scene">
  <a-assets>
    <!-- <audio id="gunFire" src="assets/sounds/horse.ogg" type="audio/ogg"></audio> -->
    <audio id="space-rumble" src="assets/sounds/asteroids/space-rumble.ogg" type="audio/ogg"></audio>
    <audio id="bullet" src="assets/sounds/asteroids/asteroids-ship-fire.wav" type="audio/wav"></audio>
    <audio id="bg-sound" src="assets/sounds/asteroids/bg-rumble.ogg" loop type="audio/ogg"></audio>
    <img id="sky" src="assets/img/skies/CGSkies_0284_free.jpg">
    <img id="planeThumbnail" src="assets/img/yellow-notebook-paper.png">
  </a-assets>
  <a-link href="planeScene" title="plane thumbnail" id="homeLink"
  image="#planeThumbnail" position="-4 0 -1" visible="false"></a-link>
  <a-entity id="dolly" position="0 0 15" wasd-plus-controls>
    <a-camera near="0.1" user-height="0" position="0 0 0" id="camera">
    </a-camera>
    <a-entity hand-controls="left" position="-0.1 -0.2 0" grab ></a-entity>
    <a-entity hand-controls="right" position="0.1 -0.2 0"
      asteroids-game-controller-listener="shipRotFactor: -1" >
    </a-entity>
  </a-entity>
  <a-entity id='proj-entity'
    sound__bullet="src: #bullet; volume: 1.0;on: fire-bullet;poolSize: 20; refDistance: 2"
    sound__thrust="src: #space-rumble; volume: 1.0;refDistance:2"
    position="0 0 0" >
  </a-entity>
  <a-cylinder id="aframe-cyl" class="proj-obj"
    height="10" radius="3" position="0 0 0"
    onclick="console.log('hi')"
    ></a-cylinder>
  <!-- <a-sky color="#8080EC" id="sky" ></a-sky> -->
  <a-sky src="#sky" theta-length=360 id="sky" ></a-sky>
</a-scene>
